.ct_container .ct_content {
    padding-bottom: 0;
}



.ct_search {
    margin-top: 10px;
    padding: 0 10px;
}
.ct_search form {
    position: relative;
}
.ct_search form .search_input {
    background: #fff;
    border: 1px solid #069;
    text-align: left;
    font-size: 12px;
    margin-bottom: 6px;
}
.ct_search form .search_btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 34px;
    color: #fff;
    background: #069;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
    border-radius: 0 6px 6px 0;
}

.ct_order {
    height: 30px;
    line-height: 30px;
    background: #eee;
    padding: 0 10px;
}
.ct_order a {
    font-size: 12px;
    color: #333;
    float: left;
    width: 25%;
    text-align: center;
}
.ct_order a.now {
    color: #069;
}

/*商品*/
.ct_product {
    width: 100%;
    padding: 0 10px;
}
.ct_product .pro_item {
    width: 48%;
    float: left;
    margin-top: 10px;
}
.ct_product .pro_item:nth-child(2n) {
    margin-left: 4%;
}
.ct_product .pro_item .pro_item_box {
    width: 100%;
    min-height: 200px;
    box-shadow: 0 0 3px #ddd;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
}
.ct_product .pro_item .pro_item_box img {
    width: 100%;
    display: block;
}
.ct_product .pro_item .pro_item_box p:first-of-type {
    padding: 0 10px;
}
.ct_product .pro_item .pro_item_box P:last-of-type {
    text-align: center;
}
.ct_product .pro_item .pro_item_box .nowPrice {
    font-size: 12px;
    color: red;
}
.ct_product .pro_item .pro_item_box .oldPrice{
    font-size: 12px;
    color: #ccc;
    text-decoration: line-through;
}
.ct_product .pro_item .pro_item_box button {
    background: #006699;
    color: #fff;
}
.ct_product .bottom_emptyView {
    height: 100px;
    width: 100%;
}