<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <!--ios 是否运行创建快捷启动方式-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--遇到数字不让转成电话号码形式-->
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="乐淘是中国最大的正品运动鞋、皮鞋、网上专卖。">
    <meta name="keywords" content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 男鞋 女鞋 鞋">
    <!--网站小图标-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/searchList.css">

    <title>传淘-搜索列表</title>
</head>
<body>
<!--首页内容-->
<div class="ct_container">
    <header class="ct_header">
        <a href="javascript:history.back();" class="left"><span class="fa fa-arrow-left"></span></a>
        <h3>商品列表</h3>
        <!--<a href="search.html" class="right"><span class="fa fa-search"></span></a>-->
    </header>
    <div class="ct_content">
        <div class="ct_wrapper">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <!--搜索 表单-->
                    <div class="ct_search">
                        <form action="javascript:;">
                            <input type="search" class="search_input" placeholder="请输入搜索关键字">
                            <a href="javascript:;" class="search_btn">搜索</a>
                        </form>
                    </div>
                    <!--搜索排序-->
                    <div class="ct_order">
                        <a href="javascript:;" data-type="time">上架时间<span class="fa fa-angle-down"></span></a>
                        <a href="javascript:;" data-type="price">价格<span class="fa fa-angle-down"></span></a>
                        <a href="javascript:;" data-type="num">销量<span class="fa fa-angle-down"></span></a>
                        <a href="javascript:;" data-type="scale">折扣<span class="fa fa-angle-down"></span></a>
                    </div>
                    <!--搜索列表-->
                    <div class="ct_product mui-clearfix">
                        <!--<div class="loading">-->
                            <!--<span class="mui-icon mui-icon-sspinner"></span>-->
                        <!--</div>-->
                        <!--动态渲染-->





                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<footer class="ct_footer">-->
    <!--<a href="index.html" class="tab_home fa fa-home "><span>首页</span></a>-->
    <!--<a href="category.html" class="tab_cate fa fa-bars now"><span>分类</span></a>-->
    <!--<a href="user/cart.html" class="tab_cart fa fa-shopping-cart"><span>购物车</span></a>-->
    <!--<a href="user/index.html" class="tab_user fa fa-user"><span>会员中心</span></a>-->
    <!--</footer>-->
</div>
<!--图片是数组， 默认第一张图片-->
<script type="text/html" id="list">
    <%if(data.length === 0) {%>
    <div class="loading">
        <span class="mui-icon mui-icon-sspinner"></span>
    </div>
    <%}%>
    <% for (var i = 0; i < data.length; i ++) {%>
    <% let item = data[i]%>

    <div class="pro_item">
        <a href="product.html?productId=<%=item.id%>" class="pro_item_box">
            <% if(item.pic && item.pic[0]) {%>
            <img src="<%=item.pic[0].picAddr%>" alt="<%=item.pic[0].picName%>">
            <%}else{%>
            <img src="images/none01.jpg" alt="">
            <%}%>
            <p class="mui-ellipsis-2"><%=item.proName%></p>
            <p>
                <span class="nowPrice">&yen;<%=item.oldPrice%></span>
                <span class="oldPrice">&yen;<%=item.price%></span>
            </p>
            <button class="button">立即购买</button>
        </a>
    </div>
    <%}%>
    <!--<div class="pro_item bottom_emptyView">-->
    </div>
    <!--<div class="pro_item">-->
        <!--<a href="#" class="pro_item_box">-->
            <!--<img src="images/product.jpg" alt="">-->
            <!--<p class="mui-ellipsis-2">adidas阿迪达斯 男式 场下休闲篮球鞋S83700 adidas阿迪达斯 男式 场下休闲篮球鞋S83700 </p>-->
            <!--<p>-->
                <!--<span class="nowPrice">&yen;560.00</span>-->
                <!--<span class="oldPrice">&yen;660.00</span>-->
            <!--</p>-->
            <!--<button class="button">立即购买</button>-->
        <!--</a>-->
    <!--</div>-->
</script>
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="js/common.js"></script>
<script src="js/searchList.js"></script>
</body>
</html>